<div style="height: 40px; font-size: 115%;"><b>Новое местоположение</b></div>
<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
<div class="title">
    <div id="placeid" x-mojo-element="TextField"></div>
    </div>
</div>
<div x-mojo-element="Button" id="auto"></div>
<div x-mojo-element="Button" id="ok" class="buttonClass"></div>
<div x-mojo-element="Button" id="cancel" class="buttonClass"></div>
