<div style="position:absolute;float:left;top:-2;height:52px;background-color:black;margin-top:0px;width:320px;padding:0px">
  <div id="rimage" style="width:48px;height:48px;float:left;left 1px;display:none;position:relative;background-color:#2d2d2d;-webkit-border-radius: 8px;margin: 2px">
    <img src='images/notification-large.png'>
    <div id="rcounter" style=
      "display:none;
      width:16px;height:16px;
      position:absolute;
      top:28px;left:26px;
      float:rigth;
      font-size:medium;
      color:black;
      padding-left:6px;
      background-color:silver;
      -webkit-border-radius: 8px;">1
    </div>
  </div>
  <div id="allimage" style="width:48px;height:48px;float:left;left:1px;display:none;position:relative;background-color:#2d2d2d;-webkit-border-radius: 8px;margin:2px">
    <img src='images/all.png'>
    <div id="allcounter" style=
      "display:inline;
      position:absolute;
      top:28px;left:26px;
      width:16px; height: 16px;
      float:rigth;
      font-size:medium;
      color:black;
      background-color:silver;
      -webkit-border-radius: 8px;">10
    </div>
  </div>
  <div id="dashboardinfo"
    style="
    position:relative;
    left:2px;
    width:252px;
    height:36px;
    margin-top:2px;
    padding:6px;
    display:block;
    float: left;
    color: white;
    background-color:#2d2d2d;
    -webkit-border-radius: 9px;
    font-size:small;
    overflow:hidden;
    ">
  </div>
</div>