<div id="counter" style=
      "display:inline;
      position:absolute;
      top:5;left:18;
      float:none;
      font-size:medium;
      color:white;
      background-color:blue;
      -webkit-border-radius: 12px;">
<b>#{count}</b>
</div>