<div class="palm-header" id="headerid">
  <div x-mojo-element="Spinner" id="spinnerid" class="spinnerClass"></div>
  <div id="headertext">Новое сообщение</div>
  <div id="back" class="touchpadbutton">&lt; Назад</div>
</div>

<div class="palm-header-spacer"></div>
<div id="imgdiv" style="width:192px; height: 128px; display:none"><img id ="img" width=192 height=128></div>
<div x-mojo-element="TextField" id="newtext" style="min-height:196px; padding:8px;" class="textfield"></div>
<div class="palm-body-text">
  <div id="placeText" style="display:none"> Местоположение:</div>
  <div x-mojo-element="ListSelector" id="placesList"  class="listselectorClass" style="display:none"></div> 
</div>
