/* TODO: put your application-specific CSS here */

.avatar
{
	width:32px;
	height:32px;
	margin-top: 7px;
	border:solid 2px;
	float:left;
	-webkit-border-radius:7px;
	
}
.spinnerClass
{
	//position:fixed;
	//text-align:center;
	//line-height:128px;
	display:block;
	float:left;
	opacity:0.7;
	z-index:255;
	//top:29%;
	//left:30%;
}
.palm-menu-icon.home
{
	background-image: url(../images/home.png);
}
.palm-menu-icon.last
{
	background-image: url(../images/last.png);
}
.textfield
{
	background-image: url(../images/back.png);
	background-repeat: repeat-x;
	background-color: white;
}
.firstmessage
{
	background-color:#c6f4f9;
	-webkit-border-radius:9px;
}
.myself
{
	background-color:#d9f9c6;
	-webkit-border-radius:9px;
	-webkit-border-image:inherit;
}
.withme
{
	background-color:#FFFDD9;
	-webkit-border-radius:9px;
}
.msgheader
{
	color: blue;
	-webkit-border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	background-color:silver;
}
.palm-row-selected
{
	background-color:white;
	background-image:none;
	-webkit-border-image:none;
}
.touchpadbutton
{
  -webkit-border-radius:2px;
  -webkit-border-width:6px;
  position:absolute;
  top:0px;left:16px;
  z-index:10
  background-color:black;
  color:cyan;
  display:none;
}
.quote
{
  margin-left:8px!important;
  color:gray;
}
