<div class="palm-hasheader">
  <div class="palm-header">
  <div id="back" class="touchpadbutton">&lt; Назад</div>
    <div>Чёрный список</div>
  </div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group">
  <div class="palm-group-title" id='title'></div>
  <div class="palm-list">
    <div class="palm-row single">
      <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
        <div class="title">
          <div id="text" x-mojo-element="TextField"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div x-mojo-element="Button" id="add"></div>   
  <div id="test"></div>