
<!--<div class="palm-header" id="headerid">-->
<div class="palm-hasheader">
  <div id="back" class="touchpadbutton">&lt; Назад</div>
  <!--<div id="headertext">Черный список</div>-->
</div>
<div class="palm-body-text">
  <div class="palm-header-spacer"></div>
	<div x-mojo-element="List" id="mainlistid" class="listClass" name="mainlist"></div>
</div>
