
<div id="main" class="palm-hasheader" style="height:100%">
<div class="palm-header">
<div id="back" class="touchpadbutton">&lt; Назад</div>
 О программе</div>
<div align=center><b>Juick client for WebOS</b></div>
<div id="ver" align=center></div><br>
<div align=center>Распространяется под BSD лицензией.<br>
	Автор: Александр Зайцев <a href="mailto:shura0@yandex.ru">shura0@yandex.ru</a></div>
</div>

