<div style="height: 40px; font-size: 115%;"><b>Учётные данные</b></div>
<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	<div class="title">
		<div class="label">Логин</div>
		<div id="loginid" x-mojo-element="TextField"></div>
	</div>
</div>
<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
	<div class="title">
		<div class="label">Пароль</div>
		<div id="passid" x-mojo-element="PasswordField"></div>
	</div>
</div>
<div x-mojo-element="Button" id="ok" class="buttonClass"></div>
<div x-mojo-element="Button" id="cancel" class="buttonClass"></div>
