<div class="palm-body-text">
	<div class="palm-header" id="headerid">
    <div id="ws_status"
      style="display:none;float:left;top:16px;position:absolute;width:16px;height:16px;
        background-image:url('images/yellow_point.png');background-repeat:no-repeat;"></div>
    <div x-mojo-element="Spinner" id="spinnerid" class="spinnerClass"></div>
    <div id="headertext">
      Моя лента
    </div>
	</div>
	<div class="palm-header-spacer"></div>
	<div x-mojo-element="List" id="mainlistid" class="listClass" name="mainlist"></div>
</div>
