<div class="palm-row" x-mojo-tap-highlight='momentary' style="margin:6px">
	<div class="palm-row-wrapper" style="border:none">
    <!--<div style="float:left;width:100%;display:block;" class="myself">-->
      <div style="position:relative;float:left;width:45%;vertical-align:middle;height:100%;top:12px">##{thread}</div>
      <div style="position:relative;top:12px;float:right;color:blue;">@#{name}</div>
    <!--</div>-->
  </div>
</div>
