<div class="no-separator palm-row" x-mojo-tap-highlight='momentary' style="height:10%">
  <div class="palm-row-wrapper">
    <div class="msgheader" style="float:left; width: 100%;color: blue;"><a href="#username:@#{user.uname}" style="color:brown">@#{user.uname}</a></div>
		<div style="float: left; position: absolute; right:58px; color: white; text-align:right;">#{mytimestamp}</div>
		<div style="float: left; position: absolute; right:16px; width: 30px; color: white; background-color:gray; -webkit-border-radius: 12px; -webkit-border-bottom-right-radius:0px; text-align:center;">#{replies}</div>
		<div style="color:black;" class="#{styleclass}">
      <div style="color:gray; -webkit-border-bottom-left-radius:0px;-webkit-border-bottom-right-radius:0px;" class="#{styleclass}"><i>#{tags}</i></div>
      #{videolink}#{imagelink}
      #{body}
    </div>
  </div>
</div>
