<div class="no-separator palm-row" x-mojo-tap-highlight='immadiate' style="height:10%">
	<div class="palm-row-wrapper">
	<div class="msgheader" style="float:left;width:100%;"><a id='namelink' name="namelink" href="#username:#{user.uname}" style="color:brown" >@#{user.uname}</a></div>
	<div style="float: left; position: absolute; right:55px; color: white; text-align:right;">#{mytimestamp}</div>
	<div style="float: left; position: absolute; right:16px; width: 30px; color: yellow; -webkit-border-radius: 12px; -webkit-border-bottom-right-radius:0px; text-align:center;">#{rid}</div>
	<div style="color:black;" class="#{styleclass}">
	#{videolink}#{imagelink}
	#{body}
	</div>
	</div>
</div>
