	<div class="palm-header" id="headerid">
    <div id="back" class="touchpadbutton">&lt; Назад</div>
    <div id="headertext">Настройки</div>
	</div>
	<div class="palm-header-spacer"></div>
  <div class="palm-group">
    <div class="palm-group-title">Websocket</div>
    <div class="palm-body-text">
      <div x-mojo-element="CheckBox" id="checkId" style="float:left;position:relative;margin-left:-20px"></div>
      <div style="float:left;position:relative;">Автополучение сообщений</div>
    </div>
    </div>
    <div class="palm-group">
    <div class="palm-group-title">GPS</div>
    <div class="palm-body-text">
      <div x-mojo-element="CheckBox" id="gps" style="float:left;position:relative;margin-left:-20px"></div>
      <div style="float:left;position:relative;">Местоположение</div>
    </div>
    <div x-mojo-element="Button" id="placesList"></div>   
  </div>
  <div class="palm-group">
    <div class="palm-group-title">Предпросмотр изображений</div>
    <div class="palm-body-text">
      <div id="idescr" style="text-align:center"></div>
      <div x-mojo-element="Slider" id="islider" style="margin-left:-30px;margin-top:20px"></div>
    </div>
  </div>
	<div class="palm-group">
    <div class="palm-group-title">Фильтры</div>
    <div class="palm-body-text">
			<div x-mojo-element="CheckBox" id="arabCheckBox" style="float:left;position:relative;margin-left:-20px"></div>
		  <div style="float:left;position:relative;">Блокировать арабов</div>
		</div>
		<div x-mojo-element="Button" id="black"></div>   
  </div>
	
</div>
