<div class="palm-body-text">
	<div class="palm-header" id="headerid">
  <div id="back" class="touchpadbutton">&lt; Назад</div>
	<div x-mojo-element="Spinner" id="spinnerid" class="spinnerClass"></div>
		<div class="avatar" id="avatarid"></div>
		<div id="nameid" style="float:left; margin-left:4px">user</div>
		</div>
	<div class="palm-header-spacer"></div>
	<div x-mojo-element="List" id="mainlistid" class="listClass" name="mainlist">
</div>
